doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block header
      include common/header.jade
    block content
    block footer
      include common/footer.jade
