*{margin:0;padding:0;font-style: normal;list-style: none;}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #000;
}

/*
	layout部分
*/

.page-header,.page-body,.page-footer{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

/*
	header部分
*/
.page-header{

}

/*
  body部分
*/
.page-body{
	
}
/*
  footer部分
*/
.page-footer{
	
}